<template>
  <div id="container">
    <strong>{{ name }}</strong>
    <br>
    <br>
    <strong>Agriculture should be ...</strong>
    <p>More local.</p>
    <p>Community oriented.</p>
    <p>A chance to learn.</p>
    <p>Checkout the growers handbook:  <a href="http://handbook.greencubes.io/">"A farmers journey, The Book!"</a></p>
  </div>
</template>

<script lang="ts">

export default {
  name: 'ExploreContainer',
  props: {
    name: String
  }
}
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
</style>